<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="Chacalele" content="">
  <title>Susan Diaz</title>
  <!-- Bootstrap core CSS-->
  <link href="../css/bootstrap/bootstrap.css" rel="stylesheet">
  <link href="../css/menu-sidebar.css" rel="stylesheet">
  <link href="../css/style.css" rel="stylesheet">
</head>

<body>
    <div id="wrapper"><!--  wrapper para menú vertical -->
      <div class="overlay"></div>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="sidebar-wrapper">
          <ul class="nav sidebar-nav">
            <li class="sidebar-brand"><a href="#">Inicio</a></li>
            <li><a href="#">Fotografia</a></li>
            <li><a href="#">Susan</a></li>
            <li><a href="#">Marlon</a></li>
          </ul>

        </nav>
        <!-- aquí termina el menú -->
       <!--  aquí inicia el menú  responsivo -->
        <div id="page-content-wrapper">
          <button type="button" data-toggle="offcanvas" class="hamburger is-closed">
            <span class="hamb-top"></span>
            <span class="hamb-middle"></span>
            <span class="hamb-bottom"></span>
          </button>
          <div class="container">
      <div class="row">
        <div class="col-md-5">
          <img src="../img/su1.jpg" class="adaptar img-fluid">
        </div>
        <div class="col-md-7">
          <h2>Susan Diaz</h2>
          <br>
          <p>¡Bienvenidos a mi p&aacute;gina!<b></b></p>
          <br>
          <p>Me dedico a crear diseños creativos para comunicar mensajes o ideas de una manera única que atraiga la atención de quien los vea. </p>
          <br>
          <p>Soy amante del arte, desde pequeña descubrí mi pasión por el dibujo, la pintura y la música; convirtiéndose en parte importante de mi vida, lo cual me llevó a estudiar Artes Plásticas en la Universidad de El Salvador; donde nació el amor por la fotografía y el diseño gráfico,  actualmente estoy cursando quinto año año de la carrera disfrutando mucho, alimentando mis conocimientos sobre programas.
          Sigo preparándome en el área profesional con la disposición y entrega del primer día, con la esperanza y meta de que mi trabajo sea reconocido a nivel nacional e ínternacional</p> 
        </div>
      </div>
    <br>

    <div class="row mb-4"> <!-- mb de margin bottom -->
    <div class="col-md-4">
        <div class="card text-center">
           <img src="../img/fotografia.jpg" class="adaptar img-fluid">
            <div class="card-body">
              <h4><b>Fotografia</b></h4>
              <br>
              <p class="text-member">fotografia publicitaria</p>
              <br>
              <p>te garantizo fotografias profesionales y creativas en publicidad o sesion fotografica, o fotos de productos.</p>
              <br>
              <a href="views/perfildeysi.html" class="conoce">Conoce mas</a>
            </div>
        </div>
      </div>
    

      <div class="col-md-4">
        <div class="card text-center">
           <img src="../img/plegable.jpg" class="adaptar img-fluid">
            <div class="card-body">
              <h4><b>Diseño Editorial</b></h4>
              <br>
              <p class="text-member">maquetaci&oacute;n </p>
              <br>
              <p>Todo lo que necesitas en maquetaci&oacute;n para tu diseño.</p>
              <br>
              <a href="#" class="conoce">Conoce mas</a>
            </div>
        </div>
      </div>
    
     <div class="col-md-4">
        <div class="card text-center">
           <img src="../img/tessa.jpg" class="adaptar img-fluid">
            <div class="card-body">
              <h4><b>Diseño Publicitario</b></h4>
              <br>
              <p class="text-member">Imagen de marca Tessa</p>
              <br>
              <p>Diseño de imagen para tienda de ropa tessa en la que se le trabajo su identidad corporativa. </p>
              <br>
              <a href="#" class="conoce">Conoce mas</a>
            </div>
        </div>
      </div>
    

    </div>

        </div>
      <!--  aquí termina el menú  responsivo -->
    <!-- Bootstrap core JavaScript-->

    <footer class="py-5 bg-dark">
      <div>
        <p class="text-center text-white">Copyright &copy; DG08018 - 2017
      
        </p>
      </div>  
    </footer>
    
    <script src="js/jquery/jquery-1.12.4.js"></script>
    <script src="js/bootstrap/bootstrap.js"></script>
    <script src="js/sb-admin.js"></script>
      <script type="text/javascript">
      $(document).ready(function () {
          var trigger = $('.hamburger'),
          overlay = $('.overlay'),
          isClosed = false;

          trigger.click(function () {
          hamburger_cross();      
    });

    function hamburger_cross() {

      if (isClosed == true) {          
        overlay.hide();
        trigger.removeClass('is-open');
        trigger.addClass('is-closed');
        isClosed = false;
      } else {   
        overlay.show();
        trigger.removeClass('is-closed');
        trigger.addClass('is-open');
        isClosed = true;
      }
  }
  
  $('[data-toggle="offcanvas"]').click(function () {
        $('#wrapper').toggleClass('toggled');
  });  
});
  </script> 
  </div>



</body>

</html>

<!-- Estructura de Bootstrap
1. Se decide o no si se declara antes de una div con una clase personal
2. Declara un contenedor de los 2 existentes class="Container"
class="container- fluid"
3. Declara una fila 
class="row"
4. Declaran las columnas cuya sumatoria será siempre 12
     class="col-md-6"
     class="col-md-6"
5. Se procede a crear nuestro diseño -->