<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Marlon Ruiz</title>
  <!-- Bootstrap core CSS-->
  <link href="../css/bootstrap/bootstrap.css" rel="stylesheet">
  <link href="../css/menu-sidebar.css" rel="stylesheet">
  <link href="../css/style.css" rel="stylesheet">
  <link rel="icon" type="image/png" href="../images/favicon.png">
</head>

<body>
 <div id="wrapper">
        <div class="overlay"></div>
        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
                <li class="sidebar-brand"><a href="../index.html">Inicio</a></li>
            <li><a href="../views/perfildeysi.html">Deysi</a></li>
            <li><a href="../views/PerfilSusan.html">susan</li>
            <li><a href="../views/perfilmarlon.html">Marlon</a></li>
            </ul>
        </nav>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                  <span class="hamb-top"></span>
                  <span class="hamb-middle"></span>
                   <span class="hamb-bottom"></span>
            </button>
            <div class="container dvfooter">
                <div class="row">
                    <div class="col-md-5">
                           <div class="imagen">
                             <img src="../img/marlonperfil.jpg" class="adaptar-img-marlon-perfil">
                           </div>     
                    </div>
                    <div class="col-md-7">
                    <h2 class="section-heading nomargin">Marlon Ruiz</h2>
                      <p class="lead">Originario de San Salvador, desde niño sentí inclinación por el dibujo y lo desarrolle hasta el Bachillerato cuando conoce el mundo del arte urbano cuando retome la practica del dibujo agregando la pintura.</p>
                      <br>
                      <p class="lead">Decide estudiar Diseño Grafico y actual-mente esta cursando el cuarto año en la carrera de Artes Plasticas en la Universidad de El Salvador.</p>
                      <br>
                      <p class="lead">Poseo conocimientos de dibujo, ilustracion y pintura tradicional, ademas de ilustracion digital en programas como Phtoshop, Ilustrator, InDesing, Corel Draw, Paint tool Sai, Blender.</p>
                       <hr class="section-heading-spacer">
                    </div>
                </div>
            
  
  <div class="row-mb-4"> <!-- mb de margin bottom -->
    <div class="col-md-4">
        <div class="texto-marlon-centro text-center">
           <img src="../img/brand.jpg" class="adaptar img-fluid">
            <div class="card-body">
              <h4><b>Branding</b></h4>
              <br>
              <p>El trabajo de Branding es una muestra de proyectos realizados para diferentes clientes en el sector artistico y deportivo.</p>
              <br>
              <a href="https://drive.google.com/file/d/1Fg6jNn3SGuJ0QMmauTrr6Dgb8VZBJxeo/view?usp=sharing" class="Know-brand">Más sobre los proyectos</a>
            </div>
        </div>
    </div>
   

 <div class="col-md-4">
        <div class="texto-marlon-centro">
           <img src="../img/toons.jpg" class="adaptar img-fluid">
            <div class="card-body">
              <h4><b>Ilustración</b></h4>
              <br>
               <p>Diferentes proyectos con intervencion de ilustración, dentro de los cuales encontraras trabajos en diseño editorial, personajes, Fanart entre otros proyectos.</p>
               <br>
               <br>
             <a href="https://drive.google.com/file/d/1Fg6jNn3SGuJ0QMmauTrr6Dgb8VZBJxeo/view?usp=sharing" class="Know-brand">Más sobre el proyecto</a>
            </div>
        </div>
      </div>
    
     <div class="col-md-4">
        <div class="texto-marlon-centro">
           <img src="../img/mural.jpg" class="adaptar img-fluid">
            <div class="card-body">
              <h4><b>Murales</b></h4>
              <br>
              <p>Murales realizados en distintas zonas del area metropolitana de San Salvador, conoce un poco del trabajo del arte urbano que hemos hecho con contenido social.</p>
              <br>
              <a href="https://drive.google.com/file/d/1Fg6jNn3SGuJ0QMmauTrr6Dgb8VZBJxeo/view?usp=sharing" class="Know-brand">Más sobre el proyecto</a>
            </div>
        </div>
      </div>
    </div>

        </div>
            <footer class="py-5 bg-dark">
      <div>
        <p class="m-0 text-center text-white">Copyright &copy; Ries 2017</p>
      </div>
     
    </footer>

    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="../js/jquery/jquery-1.12.4.js"></script>
    <script src="../js/bootstrap/bootstrap.js"></script>
    <script src="../js/sb-admin.js"></script>
      <script type="text/javascript">
      $(document).ready(function () {
          var trigger = $('.hamburger'),
          overlay = $('.overlay'),
          isClosed = false;

          trigger.click(function () {
          hamburger_cross();      
    });

    function hamburger_cross() {

      if (isClosed == true) {          
        overlay.hide();
        trigger.removeClass('is-open');
        trigger.addClass('is-closed');
        isClosed = false;
      } else {   
        overlay.show();
        trigger.removeClass('is-closed');
        trigger.addClass('is-open');
        isClosed = true;
      }
  }
  
  $('[data-toggle="offcanvas"]').click(function () {
        $('#wrapper').toggleClass('toggled');
  });  
});
  </script> 
  </div>
</body>

</html>
